<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <style>.container { grid-template-areas: "header" "buttons" "footer"; grid-template-columns: 1fr; }</style>
    <title>The Cat Project</title>
</head>
<body>
    <div class="container">
        <header class="header"><h1>The Cat Project - by Tamino and Tobias</h1></header>
        <section class="buttons">
            <div id="response">
                <button class="lbutton logout" onclick="logout()">Logout</button>
                <input type="text" id="userID" placeholder="Enter a user ID" required value="<%= userId %>">
                <button class="lbutton login" onclick="login(document.getElementById('userID').value)">Login</button>
            </div>
        </section>
        <footer class="footer">Project by Tamino and Tobias - <a href="https://github.com/odikazo/TheCatProject">GitHub</a></footer>
    </div>
    <script>
        const handleResponse = async (url, userId = '') => {
            try {
                const res = await fetch(url, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: userId ? JSON.stringify({ message: userId }) : null
                });
                const data = await res.json();
                document.getElementById('response').innerHTML = userId ? 
                    `<p>Successfully logged in as <b>${userId}</b> - Redirecting...</p>` :
                    'Successfully logged out - Redirecting...';
                await new Promise(r => setTimeout(r, 2000));
                window.location.href = "../";
            } catch (err) {
                document.getElementById('response').innerText = 'Error: ' + err;
            }
        };
        const login = userId => handleResponse('/api/login', userId);
        const logout = () => handleResponse('/api/logout');
    </script>
</body>
</html>