* { 
    box-sizing: border-box; 
}

html { 
    min-height: 100vh; 
    display: flex;
     justify-content: center;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(344deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  margin: 10px;
}

main img {
  width: 100%;
  max-height: 90vh;
  object-fit: cover;
  border: 2px solid #f0f0f0;
  border-radius: 10px;
}

button {
  background-color: white(0,0,0,0.2);
  backdrop-filter: blur(10px);
  border: 2px solid gray;
  border-radius: 10px;
  padding: 6px;
}

input { 
    border-radius: 10px; border: 2px solid #f0f0f0; 
}

ul {
  width: fit-content;
  margin: auto;
  text-align: left;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin-bottom: 8px;
}

ul li span {
  text-align: right;
  color: #aed5ff;
  margin-left: 6px;
}

a {
    color: #e7fec8; 
}

.container {
    display: grid;
    gap: 10px;
    max-width: 1200px;
}

.header {
    grid-area: header;
    background-color: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
    padding: 15px;
    border: 2px solid #f0f0f0; 
    border-radius: 10px; 
}

.search {
    grid-area: search;
    background-color: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    padding: 15px;
    border: 2px solid #f0f0f0; 
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
   
}

.result {
    grid-area: result;
}

.image {
    grid-area: image;
}

.description {
    grid-area: description;
    background-color: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    padding: 15px;
    border: 2px solid #f0f0f0; 
    border-radius: 10px; 
    text-align: center;
}

.buttons {
    grid-area: buttons;
    background-color: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
    align-content: center;
    padding: 15px;
    border: 2px solid #f0f0f0; 
    border-radius: 10px; 
}

.statistics {
    grid-area: statistics;
    background-color: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
    padding: 15px;
    border: 2px solid #f0f0f0; 
    border-radius: 10px; 
}

.others {
    grid-area: others;
    background-color: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
    padding: 15px;
    border: 2px solid #f0f0f0; 
    border-radius: 10px; 
}

.footer {
    grid-area: footer;
    background-color: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
    padding: 15px;
    border: 2px solid #f0f0f0; 
    border-radius: 10px; 
}

.autocomplete-list { 
    overflow-y: auto; 
    background-color: rgb(10, 10, 10, 0.5);
    backdrop-filter: blur(10px);
    border: 2px solid #f0f0f0; 
    border-radius: 10px; 
    flex: 1;
}
.autocomplete-list div { 
    padding: 8px; 
    cursor: pointer; 
}
.autocomplete-list div:hover { 
    background-color: #f0f0f0; 
}
.cat-result { 
    margin-top: 20px; 
}
.cat-result img {
    max-width: 300px; 
}








.search {
    display: block;
}

.search div div input {
    max-width: 100%;
    padding: 6px;
    border: 2px solid gray;
}

.autocomplete-list {
    max-height: 300px; /* Optional: to prevent it from getting too tall */
    margin: 20px;
}